/* General container styling */
.home-container {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Search bar styling */
  .search-bars {
    display: flex;
   width: 100%;
 
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 500px;
  }
  
  .search-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  /* Table responsiveness */
  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    border-collapse: collapse;
  }
  
 
  